# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\solutions\2020-12\iio_fetch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
